<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://kit.fontawesome.com/e2db74ebd5.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<style>
.text {
    font-size: 20px;
}
input[type='radio'] { 
    transform: scale(2); 
}
</style>
<div id="app" class='container mt-5'>    
    <p>
        <input type="radio" value="test" v-model="mode"><font class='text'> Word test<font>&nbsp;&nbsp;
        <input type="radio" value="list" v-model="mode"><font class='text'> Word list</font>        
    </p>
    
    <p v-if="mode=='test'">
        <input type="radio" value="hira" v-model="scheme"><font class='text'> Hiragana</font>&nbsp;&nbsp;
        <input type="radio" value="kanji" v-model="scheme"><font class='text'> Kanji<font>
    </p>
    
    <select class='form-control' v-model='unit'>
        <option v-for='unit in units' :value='unit'>Unit {{ unit }}</option>
    </select>
    
    <br>
    <button class='btn-lg btn-primary' v-on:click="next()">Next</button>
</div>

<script>
new Vue({
    'el' : '#app',
    data: {
        units: [],        
        unit: 1,
        scheme: 'hira',
        mode: 'test'
    },
    created: function() {
        for(var i = 0; i < 18; i++) {
            this.units.push(i + 1);
        }
    },
    methods : {
        next : function() {
            if(this.mode == 'test') {
                location.href = `wordtest.html?unit=${this.unit}&scheme=${this.scheme}`;
            }else {
                location.href = `wordlist.html?unit=${this.unit}`;
            }
        }
    }    
});
</script>
